<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Muhammad Tayyab - CV</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

<link href="common-css/bootstrap.css" rel="stylesheet">
<link href="common-css/ionicons.css" rel="stylesheet">
<link href="common-css/fluidbox.min.css" rel="stylesheet">
<link href="01-cv-portfolio/css/styles.css" rel="stylesheet">
<link href="01-cv-portfolio/css/responsive.css" rel="stylesheet">
</head>
<body>
<header>
<div class="container">
<div class="heading-wrapper" style="padding: 30px 100px 20px;">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-4">
<div class="info">
<i class="icon ion-ios-location-outline"></i>
<div class="right-area">
<h5>Lahore, Punjab</h5>
<h5>Pakistan</h5>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-4">
<div class="info">
<i class="icon ion-ios-telephone-outline"></i>
<div class="right-area">
<h5>333-8146648</h5>
<h6>MON - SUN</h6>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-4">
<div class="info">
<i class="icon ion-ios-chatboxes-outline"></i>
<div class="right-area">
<h5><a  class="__cf_email__" >muhammad.tayyabmukhtar@gmail.com</a></h5>
<h6>REPLY IN 24 HOURS</h6>
</div>
</div>
</div>
</div>
</div>
<a class="downlad-btn" href="cv.pdf" target="_blank">Download CV</a>
</div>
</header>
<section class="intro-section">
<div class="container">
<div class="row">
<div class="col-md-1 col-lg-2"></div>
<div class="col-md-10 col-lg-8">
<div class="intro">
<div class="profile-img"><img src="images/tayyab.jpg" alt=""></div>
<h2><b>Muhammad Tayyab</b></h2>
<h4 class="font-yellow">Software Engineer (ROR)</h4>
<ul class="information margin-tb-30">
<li><b>BORN : </b>December 1, 1991</li>
</ul>
<ul class="social-icons">
<li><a href="index.html#" target="_blank"><i class="ion-social-linkedin"></i></a></li>
<li><a href="index.html#" target="_blank"><i class="ion-social-instagram"></i></a></li>
<li><a href="index.html#" target="_blank"><i class="ion-social-facebook"></i></a></li>
<li><a href="index.html#" target="_blank"><i class="ion-social-twitter"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="portfolio-section section">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="heading">
<h3><b>Portfolio</b></h3>
<h6 class="font-lite-black"><b>MY WORK</b></h6>
</div>
</div>
<div class="col-sm-8">
<div class="portfolioFilter clearfix margin-b-80">
<a href="#" data-filter="*" class="current" id="curi"><b>ALL</b></a>
<a href="#" data-filter=".dishcuss" id="tdishcuss"><b>DISHCUSS</b></a>
<a href="#" data-filter=".wifiexplore" id="twifiexplore"><b>WIFIEXPLORE</b></a>
<a href="#" data-filter=".graphic-design" id="ttaxee"><b>TAX-EE</b></a>
<a href="#" data-filter=".graphic-design" id="tdeliverush"><b>DELIVERUSH</b></a>
<a href="#" data-filter=".pray" id="tpray"><b>PRAY WHERE</b></a>
<a href="#" data-filter=".qari" id="tqari"><b>QARI FINDER</b></a>
</div>
</div>
</div>
</div>
<h3 style="text-align: center;" id="hdishcuss" class="hidee"><b>DishCuss</b></h3>
<h3 style="text-align: center;" id="hwifiexplore" class="hidee"><b>WifiExplore</b></h3>
<h3 style="text-align: center;" id="htaxee" class="hidee"><b>Tax-ee</b></h3>
<h3 style="text-align: center;" id="hdeliverush" class="hidee"><b>Deliverush</b></h3>
<h3 style="text-align: center;" id="hpray" class="hidee"><b>Pray Where</b></h3>
<h3 style="text-align: center;" id="hqari" class="hidee"><b>Qari Finder</b></h3>
<div class="portfolioContainer">
<div class="p-item dishcuss">
	<a href="images/dishcuss/0.png" data-fluidbox>
	<img src="images/dishcuss/0.png" alt=""></a>
</div>
<div class="p-item p-item-2 wifiexplore">
    <a class="img" href="images/wifiexplore/8.jpg" data-fluidbox>
    <img src="images/wifiexplore/8.jpg" alt=""></a>
    <a class="img" href="images/wifiexplore/9.jpg" data-fluidbox>
    <img src="images/wifiexplore/9.jpg" alt=""></a>
</div>
<div class="p-item dishcuss">
    <a href="images/dishcuss/1.png" data-fluidbox>
    <img src="images/dishcuss/1.png" alt=""></a>
</div>
<div class="p-item p-item-2 wifiexplore">
    <a class="img" href="images/wifiexplore/10.jpg" data-fluidbox>
    <img src="images/wifiexplore/10.jpg" alt=""></a>
    <a class="img" href="images/wifiexplore/11.jpg" data-fluidbox>
    <img src="images/wifiexplore/11.jpg" alt=""></a>
</div>
<div class="p-item dishcuss">
    <a href="images/dishcuss/2.png" data-fluidbox>
    <img src="images/dishcuss/2.png" alt=""></a>
</div>
<div class="p-item p-item-2 qari">
	<a class="img" href="images/qari/1.jpg" data-fluidbox>
	<img src="images/qari/1.jpg" alt=""></a>
	<a class="img" href="images/qari/2.jpg" data-fluidbox>
	<img src="images/qari/2.jpg" alt=""></a>
</div>
<div class="p-item p-item-2 wifiexplore">
    <a class="img" href="images/wifiexplore/1.jpg" data-fluidbox>
    <img src="images/wifiexplore/1.jpg" alt=""></a>
    <a class="img" href="images/wifiexplore/2.jpg" data-fluidbox>
    <img src="images/wifiexplore/2.jpg" alt=""></a>
</div>
<div class="p-item p-item-2 qari">
    <a class="img" href="images/qari/3.jpg" data-fluidbox>
    <img src="images/qari/3.jpg" alt=""></a>
    <a class="img" href="images/qari/4.jpg" data-fluidbox>
    <img src="images/qari/4.jpg" alt=""></a>
</div>
<div class="p-item pray">
    <a href="images/pray/0.png" data-fluidbox>
    <img src="images/pray/0.png" alt=""></a>
</div>
<div class="p-item pray">
    <a href="images/pray/1.png" data-fluidbox>
    <img src="images/pray/1.png" alt=""></a>
</div>
<div class="p-item pray">
    <a href="images/pray/2.png" data-fluidbox>
    <img src="images/pray/2.png" alt=""></a>
</div>
<div class="p-item pray">
    <a href="images/pray/3.png" data-fluidbox>
    <img src="images/pray/3.png" alt=""></a>
</div>
<div class="p-item p-item-2 wifiexplore">
    <a class="img" href="images/wifiexplore/3.jpg" data-fluidbox>
    <img src="images/wifiexplore/3.jpg" alt=""></a>
    <a class="img" href="images/wifiexplore/4.jpg" data-fluidbox>
    <img src="images/wifiexplore/4.jpg" alt=""></a>
</div>
<div class="p-item p-item-2 wifiexplore">
    <a class="img" href="images/wifiexplore/5.jpg" data-fluidbox>
    <img src="images/wifiexplore/5.jpg" alt=""></a>
    <a class="img" href="images/wifiexplore/7.jpg" data-fluidbox>
    <img src="images/wifiexplore/7.jpg" alt=""></a>
</div>
<div class="p-item p-item-2 qari">
    <a class="img" href="images/qari/5.jpg" data-fluidbox>
    <img src="images/qari/5.jpg" alt=""></a>
    <a class="img" href="images/qari/7.jpg" data-fluidbox>
    <img src="images/qari/7.jpg" alt=""></a>
</div>
<div class="p-item p-item-2 dishcuss">
    <a class="img" href="images/dishcuss/4.jpg" data-fluidbox>
    <img src="images/dishcuss/4.jpg" alt=""></a>
    <a class="img" href="images/dishcuss/9.png" data-fluidbox>
    <img src="images/dishcuss/9.png" alt=""></a>
</div>
<div class="p-item p-item-2 dishcuss">
    <a class="img" href="images/dishcuss/10.png" data-fluidbox>
    <img src="images/dishcuss/10.png" alt=""></a>
    <a class="img" href="images/dishcuss/11.png" data-fluidbox>
    <img src="images/dishcuss/11.png" alt=""></a>
</div>
<div class="p-item p-item-2 dishcuss">
    <a class="img" href="images/dishcuss/7.jpg" data-fluidbox>
    <img src="images/dishcuss/7.jpg" alt=""></a>
    <a class="img" href="images/dishcuss/10.jpg" data-fluidbox>
    <img src="images/dishcuss/10.jpg" alt=""></a>
</div>
<div class="p-item dishcuss">
    <a href="images/dishcuss/12.png" data-fluidbox>
    <img src="images/dishcuss/12.png" alt=""></a>
</div>
<div class="p-item dishcuss">
    <a href="images/dishcuss/13.png" data-fluidbox>
    <img src="images/dishcuss/13.png" alt=""></a>
</div>
<div class="p-item dishcuss">
    <a href="images/dishcuss/14.png" data-fluidbox>
    <img src="images/dishcuss/14.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/1.png" data-fluidbox>
    <img src="images/c/1.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/2.png" data-fluidbox>
    <img src="images/wifiexplore/2.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/3.png" data-fluidbox>
    <img src="images/wifiexplore/3.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/4.png" data-fluidbox>
    <img src="images/wifiexplore/4.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/5.png" data-fluidbox>
    <img src="images/wifiexplore/5.png" alt=""></a>
</div>
<div class="p-item wifiexplore">
    <a href="images/wifiexplore/7.png" data-fluidbox>
    <img src="images/wifiexplore/7.png" alt=""></a>
</div>

</div>
</section>
<section class="about-section section">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="heading">
<h3><b>About me</b></h3>
<h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
</div>
</div>
<div class="col-sm-8" style="text-align: justify;">Experienced Ruby on Rails developer who is enthusiastic about writing clean, efficient, and accessible code in a functional framework. Committed to the total development lifecycle, the maintenance of code quality and bug-free applications is of the utmost importance. Expert in leveraging the latest software tools to optimize data storage, e-commerce functionality, and fluidity across mobile platforms. A leader in identifying opportunities for applications development.</p>
<br></br>
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="radial-prog-area margin-b-30">
<div class="radial-progress" data-prog-percent=".90">
<div></div>
<h6 class="progress-title">ROR</h6>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="radial-prog-area margin-b-30">
<div class="radial-progress" data-prog-percent=".95">
<div></div>
<h6 class="progress-title">BOOTSTRAP</h6>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="radial-prog-area margin-b-30">
<div class="radial-progress" data-prog-percent=".80">
<div></div>
<h6 class="progress-title">JQUERY</h6>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="radial-prog-area margin-b-50">
<div class="radial-progress" data-prog-percent=".70">
<div></div>
<h6 class="progress-title">CSS</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="experience-section section">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="heading">
<h3><b>Work Experience</b></h3>
<h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
</div>
</div>
<div class="col-sm-8">
<div class="experience margin-b-50">
<h4><b>POLICE COMMUNICATION OFFICER</b></h4>
<h5 class="font-yellow"><b>PUNJAB SAFE CITIES AUTHORITY</b></h5>
<h6 class="margin-t-10">JUNE 2017 - PRESENT</h6>
<p class="font-semi-white margin-tb-30"></p>
<ul class="list margin-b-30">
<li>Operations & Monitoring Center.</li>
<li>Project Management Office.</li>
<li>Electronic Data & Analysis Center.</li>
<li>Local Eye (ECC).</li>
</ul>
</div>
<div class="experience margin-b-50">
<h4><b>SOFTWARE ENGINEER (ROR)</b></h4>
<h5 class="font-yellow"><b>HOLYGON PVT LTD</b></h5>
<h6 class="margin-t-10">FEBRUARY 2016 - JUNE 2017</h6>
<p class="font-semi-white margin-tb-30"></p>
<ul class="list margin-b-30">
<li>Design, build, and maintain efficient, reusable, and reliable Ruby code.</li>
<li>Writing server-side web application logic in Ruby.</li>
<li>Maintenance of existing web applications.</li>
<li>Help maintain code quality, organization and automatization.</li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="education-section section">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="heading">
<h3><b>Education</b></h3>
<h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
</div>
</div>
<div class="col-sm-8">
<div class="education-wrapper">
<div class="education margin-b-50">
<h4><b>BACHELOR OF SCIENCE IN COMPUTER SCIENCE</b></h4>
<h5 class="font-yellow"><b>THE UNIVERSITY OF LANCASTER - UK</b></h5>
<h6 class="font-lite-black margin-t-10">GRADUATED IN FEB 2016</h6>
<p class="margin-tb-30"></p>
</div>
<div class="education margin-b-50">
<h4><b>BACHELOR OF SCIENCE IN COMPUTER SCIENCE</b></h4>
<h5 class="font-yellow"><b>COMSATS INSTITUTE OF INFORMATION TECHNOLOGY</b></h5>
<h6 class="font-lite-black margin-t-10">GRADUATED IN FEB 2016</h6>
<p class="margin-tb-30"></p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="counter-section" id="counter">
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="counter margin-b-30">
<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
<h5 class="desc"><b>Coder Degrees</b></h5>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="counter margin-b-30">
<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="9">0</span></b></h1>
<h5 class="desc"><b>Project Completed</b></h5>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="counter margin-b-30">
<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="13">0</span></b></h1>
<h5 class="desc"><b>Satisfied Clients</b></h5>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3">
<div class="counter margin-b-30">
<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="23">0</span></b></h1>
<h5 class="desc"><b>Finished Projects</b></h5>
</div>
</div>
</div>
</div>
</section>
<footer>
<p class="copyright">

Copyright &copy;<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved

</p>
</footer>

<script src="common-js/jquery-3.2.1.min.js"></script>
<script src="common-js/tether.min.js"></script>
<script src="common-js/bootstrap.js"></script>
<script src="common-js/isotope.pkgd.min.js"></script>
<script src="common-js/jquery.waypoints.min.js"></script>
<script src="common-js/progressbar.min.js"></script>
<script src="common-js/jquery.fluidbox.min.js"></script>
<script src="common-js/scripts.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');


$("#curi").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#tdishcuss").click(function() {
    $('#hdishcuss').removeClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#twifiexplore").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').removeClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#ttaxee").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').removeClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#tpray").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').removeClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#tqari").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').removeClass('hidee');
    $('#hdeliverush').addClass('hidee');
});

$("#tdeliverush").click(function() {
    $('#hdishcuss').addClass('hidee');
    $('#hwifiexplore').addClass('hidee');
    $('#htaxee').addClass('hidee');
    $('#hpray').addClass('hidee');
    $('#hqari').addClass('hidee');
    $('#hdeliverush').removeClass('hidee');
});

</script>
</body>
</html>